#call-back
  background: $dark_grey
  color: $text_white
  .row
    padding: 50px
  .call-back-inner
    display: table
    margin: 0 auto
    position: relative
    h2
      font-weight: 300
      line-height: 44px
      float: left
    .button
      float: left
      margin-left: 50px

  .call-back-form
    max-width: 60%
    margin: 0 auto
    .form-group
      margin-bottom: 0

    .form-control-white
      background: $dark_grey
      color: $text_white
      border-color: $white
      border-radius: 0px
      min-height: 44px
    .form-control-white:focus
      border-color: $grey
      box-shadow: inset 0 1px 1px rgba(220, 220, 220, 0.7)

    .button
      width: 100%

  .button-callback
    position: absolute
    width: 44px
    height: 44px
    top: 50px
    right: 50px

  .wpcf7-not-valid
    border-color: #ff0000 !important
  .wpcf7-response-output
    display: none
  .wpcf7-validation-errors
    display: none
