#header
  height: 100vh !important
  overflow: hidden
  .slide-navigation
    position: absolute
    width: 100%
    z-index: 1000
    .slide-navigation-button
      position: absolute
      width: 33px
      height: 70px
      top: 275px
      display: table
      background: $dark_grey
      text-align: center
      cursor: pointer
      .bg
        position: absolute
        background: $white
        top: 0
        left: 0
        width: 0%
        height: 100%
        -webkit-transition: width 0.3s ease-in-out
        -moz-transition: width 0.3s ease-in-out
        -o-transition: width 0.3s ease-in-out
        transition: width 0.3s ease-in-out
      i
        position: relative
        display: table-cell
        color: $text_white
        vertical-align: middle
        -webkit-transition: color 0.3s ease-in-out
        -moz-transition: color 0.3s ease-in-out
        -o-transition: color 0.3s ease-in-out
        transition: color 0.3s ease-in-out
    .slide-left
      left: 30px
    .slide-left:hover
      .bg
        width: 100%
      i
        color: $black

    .slide-right
      right: 30px
    .slide-right:hover
      .bg
        width: 100%
      i
        color: $black


  #slide-container
    position: relative
    height: 100%
    margin-left: 0%
    list-style-type: none
    -webkit-transition: margin-left 0.3s ease-in-out
    -moz-transition: margin-left 0.3s ease-in-out
    -o-transition: margin-left 0.3s ease-in-out
    transition: margin-left 0.3s ease-in-out
    .slide
      position: relative
      height: 100%
      float: left
      background-repeat: no-repeat
      background-position: center center
      background-size: cover
      .overlay
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        .title-text
          position: absolute
          bottom: 120px
          left: 30px
        .slide-title
          display: inline-block
          padding: 15px
          background: $dark_grey
          color: $text_white
          h2
            font-weight: 300
        .slide-text
          display: block
          float: left
          margin-top: 15px
          padding: 15px
          background: $dark_grey
          color: $text_white
        .slide-link
          width: 50px
          height: 50px
          display: block
          float: left
          margin-top: 15px
          margin-left: 15px
          text-align: center
          background: $dark_grey
          position: relative
          .bg
            position: absolute
            background: $white
            top: 0
            left: 0
            width: 0%
            height: 100%
            -webkit-transition: width 0.3s ease-in-out
            -moz-transition: width 0.3s ease-in-out
            -o-transition: width 0.3s ease-in-out
            transition: width 0.3s ease-in-out
          i
            position: relative
            z-index: 1000
            top: 15px
            color: $text_white
            -webkit-transition: color 0.3s ease-in-out
            -moz-transition: color 0.3s ease-in-out
            -o-transition: color 0.3s ease-in-out
            transition: color 0.3s ease-in-out
        .slide-link:hover
          .bg
            width: 100%
          i
            color: $black

        .prev-image
          position: absolute
          right: 30px
          bottom: 30px
          max-width: 50%

#header-small
  max-height: 400px
  overflow: hidden
  .overlay
    width: 100%
    position: absolute
    text-align: center
  .headline
    max-width: 90%
    margin: 0 auto
    margin-bottom: 30px
    h1
      font-weight: 300
      margin-top: 130px
      small
        color: inherit
        font-weight: 300