#post-menu
  text-align: center
  padding: 20px 0
  a
    color: $dark_grey
    transition: color 0.3s ease-in-out
    -webkit-transition: color 0.3s ease-in-out
  a:hover
    text-decoration: none
    color: $grey
  i
    font-size: 17px