.container-capped
  .content
    max-width: 100%
    margin-top: 50px
    p
      max-width: 60%
      display: block
      margin: 0 auto
      line-height: 32px
      letter-spacing: 1px
      font-size: 18px
      font-weight: 300
      strong
        font-weight: 500 !important
    .lb-image:first-child
      padding-top: 0
    .lb-image:last-child
      padding-bottom: 0
    .lb-image
      pointer-events: none
      cursor: default
      position: relative
      max-width: 80%
      margin: 0 auto
      padding: 50px 0
      display: block
      img
        opacity: 1
        -webkit-transition: opacity 0.3s ease-in-out
        -moz-transition: opacity 0.3s ease-in-out
        -o-transition: opacity 0.3s ease-in-out
        transition: opacity 0.3s ease-in-out
        width: 100%
        height: auto !important
      .image-link
        position: absolute
        top: 0
        width: 100%
        height: 100%
        text-align: center
        span
          display: table
          width: 100%
          height: 100%
        i
          width: 100%
          font-size: 40px
          display: table-cell
          vertical-align: middle
          color: $dark_grey

#work-footer
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  min-height: 400px
  position: relative
  .footer-overlay
    opacity: 0.5
    width: 100%
    height: 100%
    position: absolute
  .text
    position: relative
    max-width: 60%
    display: block
    margin: 0 auto
    color: $text_white
    padding: 100px 0
    p
      line-height: 32px
      letter-spacing: 1px
      font-size: 18px
      font-weight: 300
      text-shadow: 1px 1px 1px #313131
      strong
        font-weight: 500 !important