#page-work
  border-top: 10px solid $dark_grey
  background: $dark_grey
  overflow: hidden
  .work-row
    position: relative
    z-index: 100000

  .active
    z-index: 100000 !important

  .work-block
    position: relative
    z-index: 10000
    height: 450px
    overflow: hidden
    .work-image
      height: 100%
      .work-logo
        position: absolute
        width: 100%
        height: 100%
        top: 0px
        display: block
        img
          max-width: 80%
          position: relative
          margin: 0 auto
          display: block
          top: 33%
    .work-content
      position: absolute
      top: 0
      left: 0
      width: 100%
      text-align: center
      opacity: 0
      z-index: 1000
      transition: all 0.3s ease-in-out
      color: $text_white
      h2
        //font-weight: 300
      h4
        //font-weight: 300
        a
          color: $text_white
          transition: color 0.3s ease-in-out
          -webkit-transition: color 0.3s ease-in-out
        a:hover
          text-decoration: none
          color: $grey
      hr
        max-width: 45px
        margin: 0 auto
        margin-top: 20px
        margin-bottom: 20px

    .work-more
      position: absolute
      bottom: 0
      opacity: 0
      z-index: 100
      width: 100%
      text-align: center
      transition: all 0.3s ease-in-out
      span
        display: inline-block
        .txt
          display: table-cell !important

    .work-category
      position: absolute
      width: 100%
      text-align: center
      bottom: 0
      z-index: 100
      color: $text_white
      opacity: 0
      transition: all 0.3s ease-in-out
      a
        font-weight: 300
        color: $text_white
        transition: color 0.3s ease-in-out
        -webkit-transition: color 0.3s ease-in-out
        text-transform: uppercase
        position: relative
        top: 2px
      a:hover
        text-decoration: none
        color: $grey

    .work-fade
      height: 100%
      width: 100%
      background: #0099b7
      opacity: 0
      position: absolute
      top: 0
      left: 0
      transition: opacity 0.3s ease-in-out

  .work-block:hover
    .work-content
      opacity: 1
      top: 19%
    .work-more
      opacity: 1
      bottom: 21%
    .work-category
      opacity: 1
      bottom: 10%
    .work-fade
      opacity: 0.8


  .work-block-empty
    @extend .work-block
    cursor: default
    background: $dark_grey